@font-face {
  font-family: 'Pokemon Hollow';
  src: url('../fonts/Pokemon Hollow.eot');
  src: url('../fonts/Pokemon Hollow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Pokemon Hollow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonHollowNormal';
  src: url('../fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg'),
    url('../fonts/PokemonHollowNormal.ttf') format('truetype'),
    url('../fonts/PokemonHollowNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 200%;
}

.heading {
  text-align: center;
  font-family: Pokemon Hollow;
  text-shadow: 4px 4px #ffe54c;
  text-decoration: none;
}

.bounceInDown {
   -webkit-animation-name: bounceInDown;
   animation-name: bounceInDown;
}

.animated {
   -webkit-animation-duration:2s;
   -o-animation-duration:2s;
   animation-duration:2s;
}

@-webkit-keyframes bounceInDown  {
   0%, 60%, 75%, 90%, 100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   }

   0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
   }

   60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
   }

   75% {
      transform: translate3d(0, -10px, 0);
   }

   90% {
      transform: translate3d(0, 5px, 0);
   }

   100% {
      transform: none;
      opacity: 1;
   }

}

.heading:hover {
  text-shadow: none;
  text-decoration: none;
}

.heading:visited {
  color: black;
  text-decoration: none;
}

.pokemon-list {
  margin-left: -40px;
  list-style-type: none;
  text-align: center;
}

.button-class {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: 15rem;
  margin-top: 20px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.button-class:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-class:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-class {
    padding: 13px 50px 13px;
  }
}
